{% extends "layout.html" %}
{% block body %}

<h1>Données</h1>

<h2>Paramêtre</h2>
<div class="form-group">
    <label for="inputData">Choix du jeu de données</label>
    <form class="input-group" id="inputData" method="post">
        <select class="custom-select" id="inputGroupSelect04" name="nom_data" >
        {% if 'nom_data' in session %}
            <option value="{{ session['nom_data'] }} selected">{{ session['nom_data'] }}</option>
        {% endif%}
        {% for data in datas %}
            <option value="{{ data }}">{{ data }}</option>
        {% endfor%}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Valider</button>
        </div>
    </form>
    <label for="inputClass">Choix de l'attribue classe</label>
    <form class="input-group" id="inputClass" method="post">
        <select class="custom-select" id="inputGroupSelect05" name="nom_target">
        {% if 'nom_target' in session %}
            <option value="{{ session['nom_data'] }} selected">{{ session['nom_target'] }}</option>
        {% endif%}
        {% for target in targets %}
            <option value="{{ target }}">{{ target }}</option>
        {% endfor%}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Valider</button>
        </div>
    </form>
</div>

<h2>Information jeu de données</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Information</th>
            <th scope="col">Valeur</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">Nombre d'attribues</th>
            <td>{{ dataframe.shape[1] }}</td>
        </tr>

        <tr>
            <th scope="row">Nombre d'instances</th>
            <td>{{ dataframe.shape[0] }}</td>
        </tr>

        <tr>
            <th scope="row">Nombre de valeurs</th>
            <td>{{ dataframe.size }}</td>
        </tr>

    </tbody>
</table>

{% endblock %}