{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/">Accueil</a>
<a class="nav-item nav-link" href="/data">Données</a>
<a class="nav-item nav-link" href="/tree">Arbre</a>
<a class="nav-item nav-link active" href="/resultat">Resultats</a>
{% endblock %}

{% block body %}

<h1>Résultat</h1>

<h2>Arbre de décision (meilleur N = {{ best1 }})</h2>
<img class="img-fluid" src="data:image/png;base64,{{image1|safe}}" />
<h2>Random forest (meilleur N = {{ best2 }})</h2>
<img class="img-fluid" src="data:image/png;base64,{{image2|safe}}" />
<h2>K-NN (meilleur N = {{ best3 }})</h2>
<img class="img-fluid" src="data:image/png;base64,{{image3|safe}}" />

{% endblock %}